.create_container {
    margin-top: 7vh;
    min-height: 93vh;
}

.create_container h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 60px;
}

.create_container h2 {
    margin: 0;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 6px;
}

.create_container h4 {
    margin: 0;
    font-weight: 500;
    font-size: 13px;
    padding-left: 15px;
    padding-bottom: 8px;
}

.container {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    align-items: center;
}

.add_container {
    padding-left: 40px;
    padding-bottom: 3px;
    width: 320px;
}

.add_container p {
    margin: 0;
}

.button {
    background-color: #30bd06;
    border: none;
    height: 35px;
    border-radius: 15px;
    font-weight: 500;
    width: 100%;
    color: white;
    font-size: 13px;
}

.button:hover {
    cursor: pointer;
}

.input {
    width: 100%;
    padding: 12px 60px;
    height: 35px;
    border: 1px solid #c2c2c2;
    border-radius: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
}

.input:focus {
    border: 1px solid #c2c2c2;
    outline: none;
}

.input_desc {
    width: 100%;
    padding: 12px 60px;
    height: 100px;
    border: 1px solid #c2c2c2;
    border-radius: 10px;
    padding-left: 15px;
    margin-bottom: 10px;
    resize: none;
}

.notification {
    text-transform: uppercase;
    margin-top: 30px;
    font-weight: 500;
    color: #de2828;
    text-align: center;
}

.requirements {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}

.table_container {
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    border-radius: 20px;
    margin-left: 40px;
    overflow-y: hidden;
}

.table {
    display: flex;
}

.heading {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
    border-bottom: black solid 2px;
}

.menu {
    display: flex;
    flex-direction: row;
    margin-top: -5px;
    padding-bottom: 15px;
    border-bottom: black solid 1px;
}

.item_one {
    display: flex;
    font-size: 15px;
    font-weight: 500;
}

.item_two {
    display: flex;
    padding-left: 40px;
    padding-right: 60px;
    font-size: 15px;
    font-weight: 500;
}

.item_name {
    padding-top: 5px;
    display: flex;
    width: 180px;
    text-transform: uppercase;
    font-size: 13px;
}

.item_percent {
    padding-top: 5px;
    display: flex;
    width: 40px;
    padding-right: 80px;
}

.delete_button {
    margin-top: 5px;
    background-color: #de2828;
    border: none;
    border-radius: 15px;
    font-weight: 500;
    width: 30px;
    color: white;
    font-size: 13px;
}

.delete_button:hover {
    cursor: pointer;
}

.auth_container {
    margin-top: 10vh;
}

@media screen and (max-width: 1024px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .table_container {
        margin-top: 50px;
    }
    .item_name {
        width: 180px;
    }
    .item_percent {
        padding-right: 80px;
    }
}

@media screen and (max-width: 600px) {
    .row {
        display: flex;
        flex-direction: column;
    }
    .add_container {
        margin-top: 20px;
    }
    .add_container input {
        width: 250px;
    }
    .add_container button {
        width: 250px;
    }
    .requirements {
        padding-right: 40px;
    }
    .create_container h1 {
        font-size: 50px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 450px) {
    .row {
        display: flex;
        flex-direction: column;
    }
    .add_container {
        margin-top: 20px;
    }
    .add_container input {
        width: 250px;
    }
    .add_container button {
        width: 250px;
    }
    .requirements {
        padding-right: 40px;
    }
    .table_container {
        margin-right: 20px;
    }
    .item_one {
        font-size: 12px;
    }
    .item_two {
        font-size: 12px;
        padding-left: 20px;
        padding-right: 30px;
    }
    .item_name {
        font-size: 12px;
        width: 120px;
    }
    .item_percent {
        font-size: 12px;
        padding-right: 40px;
    }
    .create_container h1 {
        font-size: 50px;
        margin-bottom: 30px;
    }
    .create_container h2 {
        font-size: 20px;
    }
}