.create_container {
    margin-top: 7vh;
    min-height: 93vh;
    padding-bottom: 10vh;
    background-color: #0D1431;
}

.create_container h1 {
    text-align: center;
    padding-top: 40px;
    font-size: 60px;
    color: #fff;
}

.create_container span {
    background: -webkit-linear-gradient(180deg, rgba(33,84,251,1) 0%, rgba(33,117,251,1) 35%, rgba(100,143,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.create_container h2 {
    margin: 0;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 6px;
    color: rgb(231, 231, 231);
}

.create_container h4 {
    margin: 0;
    font-weight: 500;
    font-size: 13px;
    padding-left: 15px;
    padding-bottom: 8px;
    color: rgb(197, 197, 197);
}

.container {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    align-items: center;
}

.add_container {
    padding-left: 40px;
    padding-bottom: 3px;
    width: 320px;
}

.add_container p {
    margin: 0;
}

.button {
    background-color: #216BFB;
    border: none;
    height: 35px;
    border-radius: 15px;
    font-weight: 500;
    width: 100%;
    color: white;
    font-size: 13px;
}

.button:hover {
    cursor: pointer;
}

.create_button {
    background: -webkit-linear-gradient(180deg, rgba(33,84,251,1) 0%, rgba(61,135,255,1) 100%);
    border: none;
    height: 35px;
    border-radius: 15px;
    font-weight: 500;
    width: 100%;
    color: white;
    font-size: 13px;
}

.create_button:hover {
    cursor: pointer;
}

.input {
    width: 100%;
    padding: 12px 60px;
    height: 35px;
    border: 1px solid #c2c2c2;
    border-radius: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
}

.input:focus {
    outline: none;
}

.input_desc {
    width: 100%;
    padding: 12px 60px;
    height: 100px;
    border: 1px solid #c2c2c2;
    border-radius: 10px;
    padding-left: 15px;
    margin-bottom: 10px;
    resize: none;
}

.input_desc:focus {
    outline: none;
}

.notification {
    text-transform: uppercase;
    margin-top: 30px;
    font-weight: 500;
    color: #de2828;
    text-align: center;
}

.requirements {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    color: rgb(167, 167, 167);
}

.table {
    display: flex;
}

.heading {
    border-radius: 10px 10px 0 0;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
    background-color: #1e55df;
    color: #fff;
    border-bottom: black solid 2px;
}

.menu {
    margin-left: 50px;
    background-color: #1e48d1;
    display: flex;
    flex-direction: row;
    margin-top: -15px;
    margin-bottom: 17px;
    padding-bottom: 15px;
    font-weight: 500;
    color: rgb(231, 226, 226);
}

.item_one {
    margin-top: 15px;
    display: flex;
    font-size: 15px;
    font-weight: 500;
}

.item_two {
    display: flex;
    margin-top: 15px;
    padding-left: 40px;
    padding-right: 60px;
    font-size: 15px;
    font-weight: 500;
}

.item_name {
    margin-top: 15px;
    display: flex;
    width: 140px;
    text-transform: uppercase;
    font-size: 13px;
}

.item_percent {
    margin-top: 15px;
    display: flex;
    width: 120px;
}

.delete_button {
    margin-top: 15px;
    background-color: #de2828;
    border: none;
    border-radius: 15px;
    font-weight: 500;
    width: 30px;
    color: white;
    font-size: 13px;
}

.delete_button:hover {
    cursor: pointer;
}

.auth_container {
    margin-top: 10vh;
}

@media screen and (max-width: 1024px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .table_container {
        margin-top: 50px;
    }
    .item_percent {
        padding-right: 80px;
    }
}

@media screen and (max-width: 600px) {
    .row {
        display: flex;
        flex-direction: column;
    }
    .add_container {
        margin-top: 20px;
    }
    .add_container input {
        width: 250px;
    }
    .add_container button {
        width: 250px;
    }
    .requirements {
        padding-right: 40px;
    }
}

@media screen and (max-width: 500px) {
    .create_container h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 450px) {
    .heading {
        margin-right: 20px;
    }
    .menu {
        margin-right: 20px;
    }
    .item_one {
        font-size: 12px;
    }
    .item_two {
        font-size: 12px;
        padding-left: 20px;
        padding-right: 30px;
    }
    .item_name {
        font-size: 12px;
        width: 100px;
    }
    .item_percent {
        font-size: 12px;
        width: 70px;
    }
    .create_container h1 {
        font-size: 50px;
        margin-bottom: 30px;
        margin-top: -30px;
    }
    .create_container h2 {
        font-size: 20px;
    }
    .delete_button {
        margin-left: -10px;
    }
}