.home_container {
  height: 100vh;
  background-color: #0D1431;
  width: 100%;
}

.main_container {
  background-color: #0D1431;
  color: white;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  margin-top: 10vh;
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
  height: 70vh;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  flex: 1;
  padding-right: 100px;
}

.col h1 {
  font-size: 50px;
  margin: 0;
  margin-left: 200px;
}

.col h2 {
  margin: 0;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 200px;
  font-weight: 400;
  color: #6D6D6D;
}

.col span {
  cursor: pointer;
  color: #1A0DB3;
  text-decoration: underline;
}

.button_container {
  display: flex;
  margin-top: 30px;
  margin-left: 200px;
}

.signup {
  cursor: pointer;
  display: flex;
  background-color: #1F74F9;
  width: 140px;
  height: 60px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.signup:hover {
  background-color: #195fd1;
}

.login {
  cursor: pointer;
  display: flex;
  border: solid 2px #1F74F9;
  width: 140px;
  height: 60px;
  color: #1F74F9;
  font-size: 20px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-left: 10px;
}

.login:hover {
  color: #1553b6;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 5rem;
}

.title span {
  background: -webkit-linear-gradient(180deg, rgba(33,84,251,1) 0%, rgba(33,117,251,1) 35%, rgba(100,143,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  color: #6c6e75
}

.button {
  padding: 8px 20px;
  border-radius: 20px;
  width: 200px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #4347E2;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 7vh;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card_container {
  margin: 0;
  padding-top: 20px;
  background-color: #0D1431;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  padding: 2rem;
  text-align: left;
  background-color: #4347E2;
  color: #fff;
  text-decoration: none;
  border: 1px solid #0D1431;
  border-radius: 20px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 30%;
}

.card:hover,
.card:focus,
.card:active {
  color: #fff;
  border-color: #fff;
  cursor: pointer;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #0D1431
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.image {
  height: 100%;
  width: 100%;
  padding-top: 30px;
}

@media screen and (max-width: 1360px) {
  .col h1 {
    margin-top: 100px;
  }
  .image {
    margin-top: 60px;
    height: 400px;
    width: 500px;
  }
}

@media screen and (max-width: 1024px) {
  .card {
    width: 80%;
  }
  .card_container {
    margin-top: -10px;
  }
  .container {
    width: 100vh;
  }
}

@media screen and (max-width: 960px) {
  .card {
    width: 80%;
  }
  .row {
    flex-direction: column;
  }
  .col h1 {
    font-size: 40px;
    margin-top: 70px;
  }
  .col h2 {
    font-size: 20px;
  }
  .button_container {
    margin-top: 20px;
  }
  .signup {
    width: 112px;
    height: 48px;
    font-size: 18px;
    z-index: 1;
  }
  .login {
    width: 112px;
    height: 48px;
    font-size: 18px;
    z-index: 1;
  }
  .image {
    height: 440px;
    width: 550px;
    margin-top: -40px;
    z-index: 0;
  }
}

@media screen and (max-width: 842px) {
  .image {
    height: 360px;
    width: 450px;
    margin-top: -40px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-top: 20px;
  }
  .image {
    height: 324px;
    width: 405px;
  }
}

@media screen and (max-width: 664px) {
  .col h1 {
    font-size: 35px;
    margin-left: 150px;
  }
  .col h2 {
    font-size: 17px;
    margin-left: 150px;
  }
  .button_container {
    margin-left: 150px;
  }
  .container {
    padding-top: 0px;
  }
}

@media screen and (max-width: 515px) {
  .image {
    height: 288px;
    width: 360px;
    margin-top: -30px;
  }
}

@media screen and (max-width: 450px) {
  .title {
    font-size: 60px;
  }
  .description {
    font-size: 20px;
  }
}

@media screen and (max-width: 375px) {
  .col h1 {
    font-size: 30px;
  }
  .col h2 {
    font-size: 14px;
  }
  .signup {
    width: 90px;
    height: 43px;
    font-size: 14px;
  }
  .login {
    width: 90px;
    height: 43px;
    font-size: 14px;
  }
  .image {
    margin-top: 5px;
    height: 276px;
    width: 345px;
    margin-left: 80px;
  }
}

@media screen and (max-width: 375px) and (max-height: 667px) {
  .col h1 {
    font-size: 30px;
  }
  .col h2 {
    font-size: 14px;
  }
  .signup {
    width: 90px;
    height: 43px;
    font-size: 14px;
  }
  .login {
    width: 90px;
    height: 43px;
    font-size: 14px;
  }
  .image {
    margin-top: 5px;
    height: 230px;
    width: 288px;
  }
}

@media screen and (max-width: 320px) {
  .title {
    font-size: 60px;
  }
  .description {
    font-size: 20px;
  }
  .col h1 {
    margin-left: 120px;
    font-size: 24px;
  }
  .col h2 {
    margin-left: 120px;
    font-size: 12px;
  }
  .button_container {
    margin-left: 120px;
  }
  .signup {
    width: 81px;
    height: 39px;
    font-size: 12px;
  }
  .login {
    width: 81px;
    height: 39px;
    font-size: 12px;
  }
  .image {
    margin-top: -25px;
    margin-left: 60px;
    height: 207px;
    width: 259px;
  }
}