.navbar {
    background-color: #0D1431;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

.logo {
    position: absolute;
    left: 0;
    margin-left: 40vh;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 5px;
}

.logo img {
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.logo p {
    cursor: pointer;
    margin: 0;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
}

.menu {
    display: flex;
}

.menu_icon {
    color: white;
    visibility: hidden;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding: 50px;
    font-size: 18px;
}

.item:hover {
    color: #4347E2;
}

.item_profile {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 90px;
    border: 1.5px solid #4375e2;
    background-color: #4375e2;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    right: 0;
    top: 0;
    margin-top: 17px;
    margin-right: 40vh;
    border-radius: 20px;
}

.item_profile:hover {
    cursor: pointer;
}

.item_login {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 90px;
    border: 1.5px solid #4375e2;
    background-color: #4375e2;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    right: 0;
    top: 0;
    margin-top: 17px;
    margin-right: 40vh;
    border-radius: 20px;
}

.item_login:hover {
    cursor: pointer;
}

.item_signup {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 90px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    right: 0;
    top: 0;
    margin-top: 17px;
    margin-right: 50vh;
    border-radius: 20px;
}

.item_signup:hover {
    cursor: pointer;
}

@media screen and (max-width: 1700px) {
    .logo {
        position: relative;
        margin-left: 0;
    }
    .item_login {
        position: relative;
        margin: 0;
        margin-top: 33px;
        margin-left: 10px;
    }
    .item_signup {
        position: relative;
        margin: 0;
        margin-top: 33px;
        margin-left: 30px;
    }
    .item_profile {
        position: relative;
        margin: 0;
        margin-top: 33px;
        margin-left: 30px;
    }
}

@media screen and (max-width: 960px) {
    .logo {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 14px;
        margin-left: 45px;
    }
    .menu {
        visibility: hidden;
    }
    .navbar {
        height: 85px;
        transition: all .5s ease;
    }
    .menu_active {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 95vh;
        position: absolute;
        top: 5vh;
        opacity: 1;
        left: 0;
        background: #0D1431;
        transition: all .5s ease;
        z-index: 1;
    }
    .nav-link {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .menu_icon {
        visibility: visible;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.5rem;
        cursor: pointer;
    }
}

