.loading_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
    margin-top: 7vh;
    background-color: #0D1431;
}

.loading {
    font-size: 300px;
    color: white;
}

.container {
    width: 100vw;
    margin-top: 6vh;
    background-color: #0D1431;
}

.contain {
    min-height: 93vh;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    flex: 1;
}

.info_container {
    padding-top: 12vh;
    padding-left: 200px;
    padding-right: 80px;
}

.pie_container {
    padding-top: 12vh;
    padding-right: 30vh;
}

.title {
    color: #fff;
    font-size: 50px;
}

.subtitle {
    margin-top: -3vh;
    color: #6F748B;
    font-weight: bolder;
    font-size: 25px;
}

.description {
    color: #fff;
    font-weight: 500px;
    font-size: 20px;
    padding-bottom: 30px;
}

.vote_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    margin-left: 25%;
    margin-right: 25%;
    height: 80px;
}

.vote_container span {
    margin-top: 10px;
}

.vote_yes {
    display: flex;
    background-color: #30bd06;
    border-radius: 40px 0 0 40px;
    height: 100%;
    flex: 1;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    color: white;
}

.vote_yes:hover {
    cursor: pointer;
}

.voted_yes {
    display: flex;
    background-color: #228803;
    border-radius: 40px 0 0 40px;
    height: 100%;
    flex: 1;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    color: #4bff14;
}

.vote_yes p {
    font-size: 50px;
    padding-right: 5px;
}

.voted_yes p {
    font-size: 50px;
    padding-right: 5px;
}

.vote_no {
    display: flex;
    background-color: #de2828;
    border-radius: 0 40px 40px 0;
    height: 100%;
    flex: 1;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    color: white;
}

.vote_no:hover {
    cursor: pointer;
}

.voted_no {
    display: flex;
    background-color: #971414;
    border-radius: 0 40px 40px 0;
    height: 100%;
    flex: 1;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    color: rgb(255, 0, 0);
}

.vote_no p {
    font-size: 50px;
    padding-right: 5px;
}

.voted_no p {
    font-size: 50px;
    padding-right: 5px;
}

.notification {
    text-transform: uppercase;
    margin-top: 30px;
    font-weight: 500;
    color: #de2828;
    text-align: center;
}

@media screen and (max-width: 1360px) {
    .info_container {
        padding-left: 100px;
        padding-right: 100px;
    }
    .pie_container {
        padding: 0;
        padding-top: 80px;
        width: 550px;
        height: 550px;
    }
}

@media screen and (max-width: 1024px) {
    .info_container {
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 50px;
    }
    .container {
        height: 100%;
    }
    .row {
        display: flex;
        flex-direction: column;
    }
    .info_container {
        padding-left: 150px;
        padding-right: 150px;
    }
    .pie_container {
        padding: 0;
        padding-bottom: 660px;
        padding-top: 80px;
        width: 600px;
        height: 600px;
    }
  }
  
  @media screen and (max-width: 960px) {
    .info_container {
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 50px;
    }
    .container {
        height: 100%;
    }
    .pie_container {
        padding: 0;
        padding-top: 50px;
        padding-bottom: 10px;
        width: 500px;
        height: 500px;
    }
  }

  @media screen and (max-width: 768px) {
      .title {
          font-size: 50px;
      }
      .subtitle {
          font-size: 25px;
      }
      .description {
          font-size: 18px;
          margin-top: -10px;
      }
      .pie_container {
        margin-top: -20px;
        padding-bottom: 450px;
        width: 400px;
        height: 400px;
    }
  }

  @media screen and (max-width: 600px) {
    .vote_container span {
        font-size: 25px;
    }
    .info_container {
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 50px;
    }
    .title {
        font-size: 40px;
    }
    .subtitle {
        font-size: 20px;
    }
    .description {
        font-size: 15px;
        margin-top: -10px;
    }
    .pie_container {
      padding-bottom: 500px;
      margin-top: -30px;
      width: 300px;
      height: 300px;
    }
    .vote_container {
        width: 150px;
        height: 60px;
    }
    .vote_container p {
        font-size: 30px;
    }
}
  
  @media screen and (max-width: 500px) {
    .pie_container {
        padding-bottom: 500px;
        margin-top: -70px;
        width: 250px;
        height: 250px;
    }
    .title {
        font-size: 35px;
    }
    .subtitle {
        font-size: 18px;
    }
    .description {
        font-size: 14px;
    }
  }

  @media screen and (max-width: 400px) {
    .pie_container {
        padding-bottom: 530px;
        margin-top: -70px;
        width: 250px;
        height: 250px;
    }
    .info_container {
        padding-left: 70px;
        padding-right: 70px;
        padding-top: 20px;
    }
    .title {
        font-size: 25px;
    }
    .subtitle {
        margin-top: -10px;
        font-size: 15px;
    }
    .description {
        font-size: 13px;
    }
    .vote_container {
        width: 130px;
        height: 50px;
    }
    .vote_container p {
        font-size: 20px;
    }
    .vote_container span {
        font-size: 15px;
        margin-top: 5px;
    }
  }

  @media screen and (max-width: 375px) {
    .title {
        font-size: 20px;
    }
    .subtitle {
        font-size: 13px;
    }
    .col {
        padding-right: 0;
        margin-right: 0;
    }
    .pie_container {
        padding-bottom: 450px;
        width: 225px;
        height: 225px;
        margin-top: -100px;
    }
    .vote_container {
        margin-left: 60px;
        width: 130px;
        height: 50px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .vote_container {
        margin-left: 30px;
        width: 130px;
        height: 50px;
    }
  }